<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/">
    <link rel="stylesheet"  href="/static/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div>
        <img src="img/Homework.png" alt="" />
        <h1>University Library</h1>
      </div>
      <div>
        <div>
          <a href="profile.html">
            <img src="img/Person.png" alt="" />
            <p>Mariam Akiashvili</p>
          </a>
        </div>
        <a href="login.html"><img src="img/Logout.png" alt="" /></a>
      </div>
    </header>
    <main>
      <section>
        <form class="course-search">
          <input type="text" placeholder="Search" />
          <select name="" id="">
            <option value="(Choose Faculty)">(Choose Faculty)</option>
          </select>
          <select name="" id="">
            <option value="(Choose Course)">(Choose Course)</option>
          </select>
          <select name="" id="">
            <option value="">(Choose Lecturer)</option>
          </select>
          <select name="" id="">
            <option value="(Choose Group)">(Choose Group)</option>
          </select>
          <button>Submit</button>
        </form>
        <div class="cards">
          <div class="card">
            <span class="content">
              <img src="img/calcullus.png" alt="" />
              <p>Calculus: Early Transcendentals by James Stewart (English)</p>
            </span>
            <span class="actions"
              ><img src="img/Vision.png" alt="" />
              <img src="img/Export Pdf.png" alt="" />
              <a href="book-details.html">
                <img src="img/Bulleted List.png" alt="" /></a
            ></span>
          </div>
          <div class="card">
            <span class="content">
              <img src="img/calcullus.png" alt="" />
              <p>Calculus: Early Transcendentals by James Stewart (English)</p>
            </span>
            <span class="actions"
              ><img src="img/Vision.png" alt="" />
              <img src="img/Export Pdf.png" alt="" />
              <a href="book-details.html">
                <img src="img/Bulleted List.png" alt=""
              /></a>
            </span>
          </div>
          <div class="card">
            <span class="content">
              <img src="img/calcullus.png" alt="" />
              <p>Calculus: Early Transcendentals by James Stewart (English)</p>
            </span>
            <span class="actions"
              ><img src="img/Vision.png" alt="" />
              <img src="img/Export Pdf.png" alt="" />
              <a href="book-details.html">
                <img src="img/Bulleted List.png" alt="" /></a
            ></span>
          </div>
          <div class="card">
            <span class="content">
              <img src="img/calcullus.png" alt="" />
              <p>Calculus: Early Transcendentals by James Stewart (English)</p>
            </span>
            <span class="actions"
              ><img src="img/Vision.png" alt="" />
              <img src="img/Export Pdf.png" alt="" />
              <a href="book-details.html">
                <img src="img/Bulleted List.png" alt="" /></a
            ></span>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
