<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div>
        <a href="index.html">
          <img src="img/Homework.png" alt="" />
          <h1>University Library</h1>
        </a>
      </div>
      <div>
        <div>
          <a href="profile.html">
            <img src="img/Person.png" alt="" />
            <p>Mariam Akiashvili</p>
          </a>
        </div>
        <img src="img/Logout.png" alt="" />
      </div>
    </header>
    <main>
      <form action="" class="log-in">
        <div><label for="username">Username</label> <input type="text" /></div>
        <div><label for="password">Password</label> <input type="password" /></div>
        <div class="submit">
          <button>Log In</button>
          <p>Forget Password</p>
        </div>
      </form>
      <section>
        <form>
          <input type="text" placeholder="Search" />
          <select name="" id="">
            <option value="(Choose Faculty)">(Choose Faculty)</option>
          </select>
          <select name="" id="">
            <option value="(Choose Course)">(Choose Course)</option>
          </select>
          <select name="" id="">
            <option value="">(Choose Lecturer)</option>
          </select>
          <select name="" id="">
            <option value="(Choose Group)">(Choose Group)</option>
          </select>
          <button>Submit</button>
        </form>
        <div class="cards">
          <div class="card">
            <span class="content">
              <img src="img/calcullus.png" alt="" />
              <p>Calculus: Early Transcendentals by James Stewart (English)</p>
            </span>
            <span class="actions"
              ><img src="img/Vision.png" alt="" />
              <img src="img/Export Pdf.png" alt="" />
              <img src="img/Bulleted List.png" alt=""
            /></span>
          </div>
          <div class="card">
            <span class="content">
              <img src="img/calcullus.png" alt="" />
              <p>Calculus: Early Transcendentals by James Stewart (English)</p>
            </span>
            <span class="actions"
              ><img src="img/Vision.png" alt="" />
              <img src="img/Export Pdf.png" alt="" />
              <img src="img/Bulleted List.png" alt=""
            /></span>
          </div>
          <div class="card">
            <span class="content">
              <img src="img/calcullus.png" alt="" />
              <p>Calculus: Early Transcendentals by James Stewart (English)</p>
            </span>
            <span class="actions"
              ><img src="img/Vision.png" alt="" />
              <img src="img/Export Pdf.png" alt="" />
              <img src="img/Bulleted List.png" alt=""
            /></span>
          </div>
          <div class="card">
            <span class="content">
              <img src="img/calcullus.png" alt="" />
              <p>Calculus: Early Transcendentals by James Stewart (English)</p>
            </span>
            <span class="actions"
              ><img src="img/Vision.png" alt="" />
              <img src="img/Export Pdf.png" alt="" />
              <img src="img/Bulleted List.png" alt=""
            /></span>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
