<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div>
        <a href="index.html">
          <img src="img/Homework.png" alt="" />
          <h1>University Library</h1>
        </a>
      </div>
      <div>
        <div>
          <img src="img/Person.png" alt="" />
          <p>Mariam Akiashvili</p>
        </div>
     <a href="log-in.html"><img src="img/Logout.png" alt="" /></a>  
      </div>
    </header>
    <main>
      <section class="profile-section">
        <div class="profile">
          <img src="img/profile.png" alt="" />
          <div class="profile-details">
            <h2>Mary Jane</h2>
            <div class="details">
              <p><span>Faculty:</span>Computer Science</p>
              <p><span>Study Year:</span>2nd</p>
              <p><span>Email:</span>maryjane@gmail.com</p>
              <p>
                <span>Phone:</span>+955 555 55 55 55
                <span><img src="img/Pencil.png" alt="" /></span>
              </p>
            </div>
          </div>
        </div>
        <div class="courses">
          <h2>Courses</h2>
          <nav>
            <ul>
              <li>Cyber Security</li>
              <li>Algorithms I</li>
              <li>Data Bases</li>
              <li>Algoritms II</li>
              <li>Web Development I</li>
              <li>Office 360</li>
              <li>UX/UI</li>
              <li>Web Development II</li>
            </ul>
            <ul>
              <li>Cyber Security II</li>
              <li>Algorithms II</li>
              <li>Blockchain</li>
            </ul>
          </nav>
        </div>
      </section>
    </main>
  </body>
</html>
