<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div>
        <img src="../static/img/Homework.png" alt="" />
        <h1>University Library</h1>
      </div>
      <div>
        <div>
          <a href="profile.html">
            <img src="../static/img/Person.png" alt="" />
            <p>Mariam Akiashvili</p>
          </a>
        </div>
        <a href="login.html"><img src="../static/img/Logout.png" alt="" /></a>
      </div>
    </header>
    <main>
      <form action="" class="upload-file">
        <div class="input">
          <label for="username">File Name <span>*</span></label>
          <input type="text" />
        </div>
        <div class="choose-group">
          <label for="group">Group <span>*</span></label>

          <div class="choices">
            <p>Search Group</p>
            <div>
              <input type="checkbox" name="" id="" />
              <label for="tech 01">TECH 01</label>
            </div>
            <div>
              <input type="checkbox" name="" id="" />
              <label for="tech 01">TECH 02</label>
            </div>
            <div>
              <input type="checkbox" name="" id="" />
              <label for="tech 01">TECH 03</label>
            </div>
          </div>
        </div>
        <div class="input">
          <label for="file" class="file"
            ><img src="../static/img/FileArrowUp.png" alt="" /> Choose File</label
          >
          <input type="file" id="file" />
        </div>
        <button>Upload</button>
      </form>
      <section>
        <form class="course-search">
          <input type="text" placeholder="Search" />
          <select name="" id="">
            <option value="(Choose Faculty)">(Choose Faculty)</option>
          </select>
          <select name="" id="">
            <option value="(Choose Course)">(Choose Course)</option>
          </select>
          <select name="" id="">
            <option value="">(Choose Lecturer)</option>
          </select>
          <select name="" id="">
            <option value="(Choose Group)">(Choose Group)</option>
          </select>
          <button>Submit</button>
        </form>
        <div class="cards">
          <div class="card">
            <span class="content">
              <img src="../static/img/calcullus.png" alt="" />
              <p>Calculus: Early Transcendentals by James Stewart (English)</p>
            </span>
            <span class="actions"
              ><img src="../static/img/Vision.png" alt="" />
              <img src="../static/img/Export Pdf.png" alt="" />
              <a href="book-details.html">
                <img src="../static/img/Bulleted List.png" alt="" /></a
            ></span>
          </div>
          <div class="card">
            <span class="content">
              <img src="../static/img/calcullus.png" alt="" />
              <p>Calculus: Early Transcendentals by James Stewart (English)</p>
            </span>
            <span class="actions"
              ><img src="../static/img/Vision.png" alt="" />
              <img src="../static/img/Export Pdf.png" alt="" />
              <a href="book-details.html">
                <img src="../static/img/Bulleted List.png" alt=""
              /></a>
            </span>
          </div>
          <div class="card">
            <span class="content">
              <img src="../static/img/calcullus.png" alt="" />
              <p>Calculus: Early Transcendentals by James Stewart (English)</p>
            </span>
            <span class="actions"
              ><img src="../static/img/Vision.png" alt="" />
              <img src="../static/img/Export Pdf.png" alt="" />
              <a href="book-details.html">
                <img src="../static/img/Bulleted List.png" alt="" /></a
            ></span>
          </div>
          <div class="card">
            <span class="content">
              <img src="../static/img/calcullus.png" alt="" />
              <p>Calculus: Early Transcendentals by James Stewart (English)</p>
            </span>
            <span class="actions"
              ><img src="../static/img/Vision.png" alt="" />
              <img src="../static/img/Export Pdf.png" alt="" />
              <a href="book-details.html">
                <img src="../static/img/Bulleted List.png" alt="" /></a
            ></span>
          </div>
        </div>
        <div class="upload">
          <img src="../static/img/Vector.png" alt="" />
        </div>
      </section>
    </main>
  </body>
</html>
